body {
    font-family: "Open Sans", sans-serif;
    color: #444444;
    background-color: #F0F3FA !important; 
  }
  
  /*Register*/
  /*Sesion init*/
  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px 0 ;   
  }
  
  .container form {
      display: grid;    
      flex-wrap: wrap;
      justify-content: center;
      align-items: center;
      width: 60vw;    
      background-color: #fff;
      border-radius: 5px;
      margin-top: 60px;
      padding: 30px 50px;
      background-color: #F0F3FA;  
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);  
    }

    .container button, input {
      width: 50vw;
    }
  
    #eliminarCuenta {
      font-size: 1.2rem;
      font-family: "Roboto", "Raleway", 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    }
  
    .error {
      color: #c23030;
      background-color: rgb(236, 177, 166);
      display: grid;
      grid-row: inherit;
      box-shadow: 2px 2px 5px rgb(83, 81, 81);
      margin-top: 10px;
      font-size: 0.9em;
    }
  
    .escondido {
      display: none;  
    }
  
  .sr-only { /*Script read only: toma los elementos y los esconde pero siguen estando en pantalla sin ocultar pero funcionando*/
     position: absolute;
     left: -10000px;
     top: auto;
     width: 1px;
     height: 1px;
     overflow: hidden; 
  }