<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta content="width=device-width, initial-scale=1.0" name="viewport">

    <title>Login</title>
    <meta content="" name="description">
    <meta content="" name="keywords">

    <!-- Favicons -->
    <link rel="stylesheet" href="/img/navicon.png.png" rel="icon" style="border-radius: 20px;">
    <link href="/img/Logo VirtualVet1.svg" rel="apple-touch-icon">

    <!-- Google Fonts -->
    <link
        href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i|Roboto:300,300i,400,400i,500,500i,600,600i,700,700i|Poppins:300,300i,400,400i,500,500i,600,600i,700,700i"
        rel="stylesheet">

    <!-- Vendor CSS Files -->
    <link href="../style/assets/vendor/fontawesome-free/css/all.min.css" rel="stylesheet">
    <link href="../style/assets/vendor/animate.css/animate.min.css" rel="stylesheet">
    <link href="../style/assets/vendor/aos/aos.css" rel="stylesheet">
    <link href="../style/assets/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">
    <link href="../style/assets/vendor/bootstrap-icons/bootstrap-icons.css" rel="stylesheet">
    <link href="../style/assets/vendor/boxicons/css/boxicons.min.css" rel="stylesheet">
    <link href="../style/assets/vendor/glightbox/css/glightbox.min.css" rel="stylesheet">
    <link href="../style/assets/vendor/swiper/swiper-bundle.min.css" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">


    <link href="../style/datos_personales.css" rel="stylesheet">


</head>

<body>
    
        <a class="navbar-brand mt-0" href="/homepage"><img src="" alt=""><svg xmlns="http://www.w3.org/2000/svg"
                height="20" width="20" viewBox="0 0 320 512">
                <path fill="#000000"
                    d="M9.4 233.4c-12.5 12.5-12.5 32.8 0 45.3l192 192c12.5 12.5 32.8 12.5 45.3 0s12.5-32.8 0-45.3L77.3 256 246.6 86.6c12.5-12.5 12.5-32.8 0-45.3s-32.8-12.5-45.3 0l-192 192z" />
            </svg></a>

    <div class="container-datos">
        <main class="main_datos_personales">
            <label for="nombre">Nombre</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"
                        viewBox="0 0 320 512">
                        <path fill="#000000"
                            d="M112 48a48 48 0 1 1 96 0 48 48 0 1 1 -96 0zm40 304V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V256.9L59.4 304.5c-9.1 15.1-28.8 20-43.9 10.9s-20-28.8-10.9-43.9l58.3-97c17.4-28.9 48.6-46.6 82.3-46.6h29.7c33.7 0 64.9 17.7 82.3 46.6l58.3 97c9.1 15.1 4.2 34.8-10.9 43.9s-34.8 4.2-43.9-10.9L232 256.9V480c0 17.7-14.3 32-32 32s-32-14.3-32-32V352H152z" />
                    </svg></span>
                <input type="text" class="form-control" aria-label="nombre" id="nombre" required>
            </div>

            <label for="email">Email</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="16"
                        viewBox="0 0 512 512">
                        <path fill="#000000"
                            d="M48 64C21.5 64 0 85.5 0 112c0 15.1 7.1 29.3 19.2 38.4L236.8 313.6c11.4 8.5 27 8.5 38.4 0L492.8 150.4c12.1-9.1 19.2-23.3 19.2-38.4c0-26.5-21.5-48-48-48H48zM0 176V384c0 35.3 28.7 64 64 64H448c35.3 0 64-28.7 64-64V176L294.4 339.2c-22.8 17.1-54 17.1-76.8 0L0 176z" />
                    </svg></span>
                <input type="email" class="form-control" aria-label="email" id="email" required>
            </div>

            <label for="username">Username</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="20"
                        viewBox="0 0 640 512">
                        <path fill="#000000"
                            d="M96 128a128 128 0 1 1 256 0A128 128 0 1 1 96 128zM0 482.3C0 383.8 79.8 304 178.3 304h91.4C368.2 304 448 383.8 448 482.3c0 16.4-13.3 29.7-29.7 29.7H29.7C13.3 512 0 498.7 0 482.3zM504 312V248H440c-13.3 0-24-10.7-24-24s10.7-24 24-24h64V136c0-13.3 10.7-24 24-24s24 10.7 24 24v64h64c13.3 0 24 10.7 24 24s-10.7 24-24 24H552v64c0 13.3-10.7 24-24 24s-24-10.7-24-24z" />
                    </svg></span>
                <input type="text" class="form-control" aria-label="username" id="username" required>
            </div>

            <label for="celular">Celular</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="12"
                        viewBox="0 0 384 512">
                        <path fill="#000000"
                            d="M16 64C16 28.7 44.7 0 80 0H304c35.3 0 64 28.7 64 64V448c0 35.3-28.7 64-64 64H80c-35.3 0-64-28.7-64-64V64zM224 448a32 32 0 1 0 -64 0 32 32 0 1 0 64 0zM304 64H80V384H304V64z" />
                    </svg></span>
                <input type="tel" class="form-control" aria-label="celular" id="celular" required>
            </div>

            <label for="direccion">Dirección</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="18"
                        viewBox="0 0 448 512">
                        <path fill="#000000"
                            d="M429.6 92.1c4.9-11.9 2.1-25.6-7-34.7s-22.8-11.9-34.7-7l-352 144c-14.2 5.8-22.2 20.8-19.3 35.8s16.1 25.8 31.4 25.8H224V432c0 15.3 10.8 28.4 25.8 31.4s30-5.1 35.8-19.3l144-352z" />
                    </svg></span>
                <input type="text" class="form-control" aria-label="direccion" id="direccion" required>
            </div>

            <label for="password">Password</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="20" width="18"
                        viewBox="0 0 448 512">
                        <path fill="#000000"
                            d="M429.6 92.1c4.9-11.9 2.1-25.6-7-34.7s-22.8-11.9-34.7-7l-352 144c-14.2 5.8-22.2 20.8-19.3 35.8s16.1 25.8 31.4 25.8H224V432c0 15.3 10.8 28.4 25.8 31.4s30-5.1 35.8-19.3l144-352z" />
                    </svg></span>
                <input type="password" class="form-control" aria-label="password" id="password" required>
            </div>

            <label for="tipoIdentificacion">Tipo de Identificación</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                        viewBox="0 0 576 512">
                        <path fill="#000000"
                            d="M0 96l576 0c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96zm0 32V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128H0zM64 405.3c0-29.5 23.9-53.3 53.3-53.3H234.7c29.5 0 53.3 23.9 53.3 53.3c0 5.9-4.8 10.7-10.7 10.7H74.7c-5.9 0-10.7-4.8-10.7-10.7zM176 192a64 64 0 1 1 0 128 64 64 0 1 1 0-128zm176 16c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16z" />
                    </svg></span>
                <input type="text" class="form-control" aria-label="tipoIdentificacion" id="tipoIdentificacion"
                    disabled>
            </div>

            <label for="identificacion">Identificación</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="18"
                        viewBox="0 0 576 512">
                        <path fill="#000000"
                            d="M0 96l576 0c0-35.3-28.7-64-64-64H64C28.7 32 0 60.7 0 96zm0 32V416c0 35.3 28.7 64 64 64H512c35.3 0 64-28.7 64-64V128H0zM64 405.3c0-29.5 23.9-53.3 53.3-53.3H234.7c29.5 0 53.3 23.9 53.3 53.3c0 5.9-4.8 10.7-10.7 10.7H74.7c-5.9 0-10.7-4.8-10.7-10.7zM176 192a64 64 0 1 1 0 128 64 64 0 1 1 0-128zm176 16c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16zm0 64c0-8.8 7.2-16 16-16H496c8.8 0 16 7.2 16 16s-7.2 16-16 16H368c-8.8 0-16-7.2-16-16z" />
                    </svg></span>
                <input type="text" class="form-control" aria-label="identificacion" id="identificacion" disabled>
            </div>

            <label for="tipo de usuario">Tipo de usuario</label>
            <div class="input-group mb-3">
                <span class="input-group-text"><svg xmlns="http://www.w3.org/2000/svg" height="16" width="20"
                        viewBox="0 0 640 512">
                        <path fill="#000000"
                            d="M224 256A128 128 0 1 0 224 0a128 128 0 1 0 0 256zm-45.7 48C79.8 304 0 383.8 0 482.3C0 498.7 13.3 512 29.7 512H418.3c10 0 18.8-4.9 24.2-12.5l-99.2-99.2c-14.9-14.9-23.3-35.1-23.3-56.1v-33c-15.9-4.7-32.8-7.2-50.3-7.2H178.3zM384 224c-17.7 0-32 14.3-32 32v82.7c0 17 6.7 33.3 18.7 45.3L478.1 491.3c18.7 18.7 49.1 18.7 67.9 0l73.4-73.4c18.7-18.7 18.7-49.1 0-67.9L512 242.7c-12-12-28.3-18.7-45.3-18.7H384zm24 80a24 24 0 1 1 48 0 24 24 0 1 1 -48 0z" />
                    </svg></span>
                <input type="text" class="form-control" aria-label="tipoUsuario" id="tipoUsuario" disabled>
            </div>

            <div class="mb-4"></div>
            <button onclick="actualizarDatos()" type="submit" class="btn btn-primary" id="actualizar_usuario"
                style="width: 100%;">Actualizar usuario</button>
            <div class="mb-3"></div>
            <button onclick="modificarContraseña()" type="button" class="btn btn-secondary" id="modificar_contraseña"
                style="width: 100%;">Modificar contraseña</button>
    </div>

    </main>

    <script src="../style/assets/vendor/purecounter/purecounter_vanilla.js"></script>
    <script src="../style/assets/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>
    <script src="../style/assets/vendor/glightbox/js/glightbox.min.js"></script>
    <script src="../style/assets/vendor/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
        crossorigin="anonymous"></script>
    <!-- <script src="assets/vendor/php-email-form/validate.js"></script> -->

    <!-- Template Main JS File -->
    <script src="../style/assets/js/main.js"></script>
    <script src="../src/loading.js"></script>
    <script src="../src/homepage.js"></script>
    <script src="../src/login.js"></script>
    <script src="../src/datos_personales.js"></script>

</body>

</html>